.mainList{
    height: 100%;
    overflow: hidden;
}
.mainList li{
    float: left;
    width: 600px;
    height: 300px;
    background-color: #fff;
    margin-right: 26px;
    margin-bottom: 26px;
}
.mainList li dl{
    width: 520px;
    height: 220px;
    margin: 40px auto 0;
    overflow: hidden;
}
.mainList li dl dt,.mainList li dl dd{
    float: left;
    width: 260px;
    height: 220px;
    text-align: center;
}
.mainList li dl dt img{
    max-width: 100%;
    max-height: 100%;
}
.mainList li dl dd p{
    padding-left: 20px;
    text-align: left;
    line-height: 30px;
}
.mainList li dl dd p.color1{
    margin: 10px 0 20px;
}
/*littleNav*/
.littleNav{
    width: 100%;
    background-color: #fff;
    min-width: 1226px;
}
.littleNav .littleNavCenter{
    width: 1226px;
    height: 13px;
    margin: 0px auto;
    padding: 40px 0;
}
.littleNav .littleNavCenter span{
    float: left;
    height: 13px;
    line-height: 13px;
    display: inline-block;
    color: #666;
    font-size: 14px;
}
.littleNav .littleNavCenter span b{
    font-size: 16px;
    color: #000;
    font-weight: normal;
}
.littleNav .littleNavCenter em{
    width: 7px;
    height: 13px;
    display: inline-block;
    float: left;
    background: url("../images/ico/arrowRight.png") no-repeat;
    margin:0 8px;
}
/*banner*/
.lubo {
    width: 100%;
    min-width: 1226px;
    clear: both;
    position: relative;
    height: 502px;
}

.lubo_box {
    position: relative;
    width: 100%;
    height: 502px;
}

.lubo_box li {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 502px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
    text-align: center;
}

.lubo_box li a {
    display: block;
    width: 1226px;
    height: 502px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -613px;
    margin-top: -251px;
}

.lubo_box li img {
    width: 100%;
    min-width: 1226px;
    height: 502px;
    max-width: 1920px;
}

/*圆点*/
.cir_box {
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 100;
}

.cir_box li {
    float: left;
    width: 30px;
    height: 5px;
    margin: 0 5px;
    cursor: pointer;
    background: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.cir_box li.cir_on {
    background: #000 !important;
    background: #000;
    opacity: 1;
    filter: alpha(opacity=100);
}

/*按钮*/
.lubo_btn {
    display: none;
}

.leftBtn, .rightBtn {
    width: 60px;
    height: 136px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url("../images/ico/bannerChange.png") no-repeat;
    background-position: -66px 0;
    position: absolute;
    top: 170px;
}

.leftBtn {
    float: left;
    left: 0;
}
div.leftBtnOn{
    background-position: 0px 0px;
}
div.rightBtnOn{
    background-position: 0px -136px;
}
.rightBtn {
    float: right;
    right: 0;
    background-position: -66px -136px;
}



/*mainP*/
.mainP{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 30px 0px;
    background-color: #fff;
    margin-bottom: 40px;
}
.mainP .mainPC,.hotProductCon{
    width: 1226px;
    margin: 0 auto;
}
.mainPCUl li{
    width: 236px;
    height: 188px;
    float: left;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}
.mainPCUl li p{
    display: none;
    width: 236px;
    height: 188px;
    position: absolute;
    z-index: 2;
    background-color: #000;
    opacity: .2;
    filter: alpha(opacity=20);
    top: 0;
    left: 0;
}
.mainPCUl li img{
    max-width: 236px;
    max-height: 188px;
}
.mainPCUl li.noMar{
    margin: 0;
}
/*mo and Tv*/
.mo{
    width: 1226px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}
.moTitle{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.moTitle .line{
    width: 100%;
    position: relative;
    top: 10px;
    z-index: 1;
    background-color: #ccc;
}
.moTitle h3{
    font-size: 24px;
    float: left;
    font-weight: normal;
    position: relative;
    z-index: 2;
    padding-right: 10px;
    background-color: #eee;
    height: 30px;
    line-height: 30px;
}
.moTitle span{
    font-size: 14px;
    width:90px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: block;
    float: right;
    background-color: #fff;
    position: relative;
    z-index: 2;
    margin-right: 15px;
}
.moTitle span a{
    color: #999;
    display: block;
}
.moContent{
    margin: 20px 0 10px 0;
}
.moContent .cList{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.moContent .cList li{
    float: left;
    width: 233px;
    height: 360px;
    background: #fff;
    position: relative;
    z-index: 2;
    margin-right: 11px;
    margin-bottom: 11px;
    overflow: hidden;
}
.moContent .cList li.noMar{
    margin-right: 0;
}
.moContent .cList li.first{
    width: 477px;
    height: 360px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.mImg{
    width: 477px;
    height: 360px;
    text-align: right;
    overflow: hidden;
}
.mImg span{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.mImg img{
    max-width: 477px;
    max-height: 360px;
    vertical-align: middle;
}
.mImgInfo,.cList li.first .mask{
    width: 210px;
    height: 330px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 15px 0 15px 23px;
}
.cList li.first .mask{
    display: none;
}
.cList li .mask{
    display: block;
    width: 233px;
    height: 130px;
    position: absolute;
    left: 0;
    bottom:-130px;
    z-index: 1;
    background-color: #eee;
    opacity: .5;
    filter: alpha(opacity=50);
}
.cList li.first .mask{
    background-color: #fff;
    opacity: .6;
    filter: alpha(opacity=60);
    z-index: 1;
}
.boxShadow{
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    -webkit-box-shadow:0px 0px 20px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    border: 0;
}
.mImgInfo h3,.cList li .title h3{
    font-size: 16px;
    color: #333;
    font-weight: normal;
}
.mImgInfo p.h3Info,.cList li .title p{
    font-size: 14px;
    color: #999;
    line-height: 30px;
}
.mImgInfo p.mprice,.cList li .oPrice{
    font-size: 16px;
    color: #e73d4d;
    line-height: 30px;
}
.cList li .oList .oPrice{
    text-align: center;
    margin-top: 40px;
}
.mImgInfo .btnBuy a,.oListInfo .btnBuy a{
    color: #fff;
    display: block;
}
.mImgInfo .btnBuy,.oListInfo .btnBuy{
    display: block;
    width: 180px;
    height: 40px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -43px;
    left: 50%;
    margin-left: -90px;
}
.cList li .oListInfo .oPrice{
    text-align: center;
    margin: 10px 0;
    display: none;
    margin-top: 20px;
}
.cList li .title{
    padding-top: 15px;
    padding-left: 23px;
}
.cList li .oImg{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
.cList li .oImg span{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.cList li .oImg img{
    max-height: 160px;
    max-width: 160px;
    vertical-align: middle;
}
.oListInfo{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 233px;
    z-index: 2;
}
.scal{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.scal2{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.moTitle a:hover{
    display: block;
    background-color: #e73d4d;
    color: #fff;
    border-radius: 15px;
    -webkit-border-radius:15px;
}
/*hotProduct*/
.hotProductCon{
    margin-bottom: 50px;
    overflow: hidden;
}
.hotProduct{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #eee;
    padding: 20px 0;
    min-width: 1226px;
}
.hotProductCon h2{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
}
.hotBox ul li{
    width: 298px;
    height: 100%;
    overflow: hidden;
    float: left;
    background-color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
}
.hotBox ul li.noMar,.viewBox ul li.noMar{
    margin-right: 0;
}
.hotBox ul li img{
    max-width: 298px;
    max-height: 221px;
    display: block;
    vertical-align: middle;
}
.hotBox dl dd{
    padding: 18px;
}
.ddInfo{
    margin-bottom: 30px;
    min-height: 65px;
}
.ddInfo p{
    font-size: 16px;
    color: #000;
    line-height: 22px;
}
.formInfo{
    font-size: 14px;
    color: #999;
    line-height: 24px;
}
.hotPrice{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
   padding-top: 10px;
}
.hotPrice span{
    height: 17px;
    line-height: 17px;
    display: inline-block;
    font-size: 16px;
    color: #000;
}
.hotPrice .title{
    max-width: 160px;
    margin-right: 10px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    float: left;
}
.hotPrice .rmb{
    width: 80px;
    padding-left: 10px;
    color: #e73d4d;
    border-left: 1px solid #ccc;
    float: left;
}
.viewBox ul li {
    width:298px ;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
.viewBox ul li img{
    max-width: 298px;
    max-height: 157px;
}
.viewBox ul li dd{
    position: relative;
    width: 298px;
}
.viewBox ul li em{
    width: 39px;
    height: 20px;
    display: block;
    background: url("../images/ico/play.png") no-repeat 0px -21px;
    position: absolute;
    left: 20px;
    top: -30px;
    cursor: pointer;
}
.viewBox ul li em.onPlay{
    background-position: 0px 0px;
}
.viewBox ul li h3{
    font-size: 16px;
    padding: 30px 10px;
    font-weight: normal;
    text-align: center;
    width: 278px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.hotBox ul li.animate,.viewBox ul li.animate{
    margin-top: -5px;
    box-shadow:0 0px 10px rgba(0, 0, 0, 0.3);
    transform:translate(0,-2px);
    -webkit-transform:translate(0,-2px);
    transition: All 0.3s ease-in-out;
}











/*main*/
.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    min-width: 1226px;
}
.mainCenter{
    width: 1226px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
.mainCenter .goodsMain{
    margin: 25px 0;
    height: 100%;
    overflow: hidden;
}
.mainCenter .goodsMainLeft{
    width: 610px;
    float: left;
    margin-right: 16px;
}
.mainCenter .goodsMainRight{
    float: left;
    width: 600px;
}
/*goodsMainLeft*/
.large_box {
    margin-bottom: 10px;
    height: 500px;
    overflow: hidden;
}
.large_box li{
    height: 500px;
}
.large_box img {
    display: block;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
}
.small_box {
    width: 610px;
    height: 100px;
    overflow: hidden;
}
.small_list {
    position: relative;
    float: left;
    width: 542px;
    height: 100px;
    overflow: hidden;
}
.small_list ul {
    height: 100px;
    overflow: hidden;
}
.small_list ul li {
    position: relative;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
}
.small_list ul li div{
    width: 98px;
    height: 98px;
    display:table-cell;
    vertical-align:middle;
}
.small_list ul li img {
    display: block;
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin:auto;
}
.small_list ul li.on {
    display: none;
    border: 1px solid #e73d4d;
}
.small_list ul li.on{
    display: block;
}
.btn {
    display: block;
    width: 27px;
    height: 100px;
    background:#fff url("../images/ico/arrowB.png") no-repeat center;
    cursor: pointer;
}
.left_btn {
    float: left;
    margin-right: 8px;
   background-position:0px 28px;
}
.right_btn {
    float: right;
    background-position:-34px 28px;
}
.small_list img{
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin:auto;
}
/*goodsMainRight*/
.goodsMainRight .name h1{
    font-size: 24px;
    color: #000;
    font-weight: normal;
}
.goodsMainRight .name p{
    color: #666;
    font-size: 16px;
    line-height: 24px;
    padding-top: 8px;
}
.price{
    background-color: #f2f2f2;
    margin: 20px 0;
    height: 50px;
    overflow: hidden;
}
.price .dt{
    width: 80px;
    float: left;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    color: #666;
    font-size: 14px;
}
.items .quantity-form .decrement,.items .quantity-form .increment,.items .quantity-form .text{
    border: 0;
    margin: 0;
}
.price .dd{
    width: 500px;
    float: left;
    height: 50px;
    line-height: 50px;
    color: #e73d4d;
    font-size: 28px;
}
.price .dd i{
    font-size: 14px;
}
.total .dd{
    float: none;
    width: 100%;
}
.price .dd span{
    float: left;
    height: 50px;
    line-height:50px;
    font-size: 24px;
}
.price .dd em{
    color: #999;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-decoration: line-through;
    float: left;
    margin-left: 20px;
}
.items{
    width: 600px;
    overflow: hidden;
}
.chooseColor{
    margin-top: 30px;
}
.chooseSize{
    margin-top: 10px;
}
.items .itemsLeft{
    width: 80px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    float: left;
    color: #666;
    font-size: 14px;
}
.items .itemsRight{
    width: 500px;
    float: left;
}
.items .itemsRight ul li{
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 80px;
    padding: 0 10px;
    cursor: pointer;
}
.items .itemsRight ul li.disable{
    color: #999;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    cursor:not-allowed;
}
.items .itemsRight ul li.choose{
    border: 1px solid #e73d4d;
    background: url("../images/ico/icoSeleted.png") no-repeat bottom right;
}
.itemsRight .quantity-form{
    width: 124px;
    height: 40px;
    border: 1px solid #ccc;
}
.itemsRight .quantity-form .decrement,.itemsRight .quantity-form .increment{
    width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    float: left;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    font-family:\5B8B\4F53;
}
.itemsRight .quantity-form .text{
    width: 64px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    float: left;
}
.total a{
    display: block;
    width: 170px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #e73d4d;
    color: #fff;
    font-size: 18px;
    float: right;
}
.total a:hover{
    background-color: #b5313d;
}
/*goodsInfo*/
.goodsInfo{
    width: 100%;
    min-width: 1226px;
    height: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}
.goodsInfo .innerList{
    width: 100%;
    min-width: 1226px;
    height: 58px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 58px;
}
.innerList .ulList{
    width: 1226px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
.innerList li{
    float: left;
    padding: 0 20px;
    font-size: 20px;
    cursor:pointer;
}
.innerList li.on{
    color: #e73d4d;
    border-bottom: 3px solid #e73d4d;
    height: 55px;
    line-height: 55px;
}
.innerBox{
    width: 1226px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    display: none;
}
.outer div.on{
    display: block;
}
.innerBox .picture img{
    max-width: 750px;
    margin: 10px auto;
    display: block;
}
.comment{
    height: 160px;
    margin-top: 60px;
}
.comment .rate{
    width: 160px;
    text-align: center;
    float: left;
    margin-right: 20px;
}
.comment .rate strong{
    font-size: 60px;
    color: #e73d4d;
    font-weight: normal;
}
.comment .rate strong em{
    font-size: 32px;
}
.comment .rate span{
    font-size: 18px;
    color: #666;
}
.comment .percent{
    width: 330px;
    float: left;
    margin-right: 40px;
}
.comment .percent dl{
    overflow: hidden;
    margin-top: 15px;
}
.comment .percent dt{
    width: 54px;
    height: 20px;
    line-height: 20px;
    color: #666;
    float: left;
}
.comment .percent dd{
    float: left;
    width: 230px;
    height: 18px;
    border: 1px solid #ccc;
}
.comment .percent dd div{
    height: 20px;
    width: 0;
    background-color:#e73d4d;
    margin-top: -1px;
    margin-left: -1px;
}
.comment .weFeel{
    width: 660px;
    float: left;
}
.comment .weFeel p{
    color: #666;
}
.comment .weFeel ul{
    height: 100%;
    overflow: hidden;
}
.comment .weFeel ul li{
    float: left;
    min-width: 108px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #000;
    background-color: #ffcccc;
    margin:15px 15px 0 0;
}
/*comments-list*/
.comments-list{
    width: 1226px;
    height: 100%;
    overflow: hidden;
}
.comments-list .mt{
    border-bottom: 1px solid #ccc;
}
.comments-list .mtList li{
    min-width: 142px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #000;
    float: left;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-bottom: 0;
}
.comments-list .mtList li.on a{
    color: #ff3366;
    padding-bottom: 1px;
    background-color: #fff;
    display: block;
}
.comments-list .mc{
    display: none;
    width: 1226px;
}
.mcListBox{
    width: 1226px;
    min-height: 800px;
}
.comments-list .on{
    display: block;
}
.mcList{
    width: 1226px;
    height: 100%;
    overflow: hidden;
    margin-top: 24px;
    border-bottom: 1px solid #ccc;
}
.mcList .mcListLeft{
    width: 160px;
    float: left;
}
.mcList .mcListCenter{
    width: 866px;
    float: left;
}
.mcList .mcListRight{
    width: 200px;
    float: left;
}
.mcListLeft .perImg{
    width: 72px;
    margin: 0 auto;
}
.mcListLeft .perImg img{
    max-width: 72px;
    max-height: 72px;
    display: block;
    margin: 0 auto;
}
.mcListLeft .perImg p{
    font-size: 12px;
    color: #666;
    line-height: 24px;
}
.mcListRight p{
    font-size: 12px;
    text-align: right;
}
.help{
    height: 30px;
    text-align: right;
    padding: 10px 0;
}
.answer{
    height: 100%;
    overflow: hidden;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.answer p{
    line-height: 24px;
    color: #666;
}
.answer p a{
    color: #ff3366;
}





























































/*page*/
.page{
    height: 40px;
    text-align: right;
    padding-bottom: 40px;
    margin-top: 20px;
}
.page .pageCon{
    height: 40px;
    float: right;
    margin-right: 15px;
    font-size: 14px;
}
.page span{
    float: left;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-right: 0;
    color: #333;
    display: block;
    cursor: pointer;
    font-size: 20px;
    font-family: "\5B8B\4F53";
    font-weight: bold;
}
.page span.noPage{
    color: #999;
}
.page span#next{
    border-right: 1px solid #dfdfdf;
}
.page ul{
    height: 40px;
    overflow: hidden;
    float: left;
}
.page ul li{
    float: left;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-right: 0;
    cursor: pointer;
}
.page ul li.on{
    display: block;
    background-color: #e73d4d;
    border:1px solid #e73d4d;
    border-right: 0;
    color: #fff;
}
/*errorMain*/
.errorMain{
    width: 100%;
    min-width: 1226px;
    height: 100%;
    background-color: #fff;
}
.errorMain .errorC{
    width: 1226px;
    margin: 0 auto;
    padding: 144px 0;
}
.errorMain .errorC .errorLeft{
    width: 101px;
    height: 95px;
    float: left;
    margin-left: 300px;
    margin-right: 30px;
}
.errorMain .errorC .errorRight{
    width: 700px;
    float: left;
}
.errorRight h2{
    font-size: 18px;
    color: #000;
}
.errorRight .title{
    margin:30px 0 15px;
}
.errorRight p a{
    color: #1b24e2;
}
.footerPosition{
    position: absolute;
    bottom: 0;
    left: 0;
}
/*orderPage*/
/*address*/
.address h1{
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 25px;
}
.address,.deliveryBy,.payBuy,.receipt,.productInfo{
    padding: 15px 48px;
    overflow: hidden;
}
.payBuy h2,.deliveryBy h2{
    float: left;
    height: 30px;
    line-height: 30px;
}
.payBuy p,.deliveryBy p{
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0;
}
.address h3{
    height: 30px;
    line-height: 30px;
    font-weight: normal;
}
.address .addressH3 .fl{
    float: left;
}
.address .addressH3 .fr{
    float: right;
}
.address ul li h3 span{
    color: #000;
    width: 126px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: left;
}
.address h3 span{
    float: left;
}
.address h3 i{
    float: right;
    /*margin-right: 20px;*/
    color: #999;
    font-size: 14px;
}
.addressSelected,.addressControlList{
    overflow: hidden;
}
.addressSelected .default{
    color: #e73d4d;
}
.address dl dt{
    margin-bottom: 10px;
}
.address ul li{
    float: left;
    width: 215px;
    height: 134px;
    border: 1px solid #ccc;
    margin-right: 29px;
    padding: 10px 18px;
    cursor: pointer;
    margin-bottom: 27px;
}
.address .addressControlList li{
    cursor: default;
}
.address ul li.selected{
    width: 213px;
    height: 132px;
    border: 2px solid #e73d4d;
    background: url("../images/ico/selected.png") no-repeat 198px 100px;
}
.address ul li.defaultselect{
    width: 213px;
    height: 132px;
    border: 2px solid #e73d4d;
}
.address ul li dl{
    height: 143px;
    width: 215px;
}
.address ul li dl dd{
    color: #666;
    line-height: 22px;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.address ul li span{
    display: block;
    text-align: center;
    color: #d4d4d4;
}

input.selectedInput{
    float: left;
    width: 0;
    height: 0;
    border: 0
}
.address ul li.selected2{
    border: 3px solid #e73d4d;
    width: 238px;
    height: 152px;
}
.address_op a{
    display: inline-block;
    margin-right: 10px;
}

.addressControl{
    height: 20px;
    line-height: 20px;
    /* overflow: hidden;*/
    margin-top: -28px;
}
.addressControl .btn,.addressControl .del{
    float: left;
    margin-top: 0;
    cursor: pointer;
}
.addressControl .defaultBtn{
    width: 100px;
    float: right;
    text-align: right;
    cursor: pointer;
}
.addressControl .defaultBtn:hover{
    color: #e73d4d;
}
.addressControl .default{
    color: #e73d4d;
}
.showAddress{
    overflow: hidden;
    margin-bottom: 20px;
}
.addressShow em{
    display: block;
    width: 16px;
    height: 9px;
    background: url("../images/ico/arrow2.png") no-repeat 0px 0px;
    float: left;
    cursor: pointer;
    margin-right: 7px;
    margin-left: 2px;
}
.addressUp em{
    background-position: 0px -13px;
}
.addressShow span{
    cursor: pointer;
    height: 9px;
    line-height: 9px;
    float: left;
    color: #666;
    font-size: 12px;
}

/**/
.deliveryBy p,.payBuy p{
    text-indent: 2em;
    line-height: 30px;
    color: #999;
}
.receipt .tabUl{
    height: 60px;
    overflow: hidden;
}
.receipt .tabUl li{
    width: 284px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    float: left;
    margin-right: 30px;
    border: 1px solid #999;
    cursor: pointer;
    color: #666;
}
.receipt .tabUl li.select{
    border: 1px solid #e73d4d;
    color: #e73d4d;
}
.receipt .tab div.tabDiv{
    display: none;
}
.receipt .tab div.tabDiv p{
    color: #666;
    font-size: 12px;
    line-height: 24px;
}
.receipt .tab div.tabDiv input{
    height: 48px;
    line-height: 48px;
    width: 286px;
    padding-left: 10px;
    border: 1px solid #999;
    margin-top: 10px;
}
.receipt .tab div.tabDiv input:focus{
    border:1px solid #e73d4d;
}
.receipt .tab div.select{
    display: block;
}
.personInvoice p{
    margin-left:316px;
}
.reSpan span{
    float: left;
}
.reSpan span a,.reSpan span i{
    float: left;
}
.reSpan span i.que{
    margin-top: 4px;
    margin-left: 4px;
}
.unitInvoice .unitInvoiceBox{
    width: 286px;
    margin-left:632px;
    position: relative;
    font-size: 14px;
    color: #666;
}
.unitInvoice  .unitInvoiceBox dl{
    display: none;
}
.unitInvoice  .unitInvoiceBox dl dt{
    overflow: hidden;
}
.unitInvoice label{
    position: absolute;
    margin-top: 27px;
    margin-left: 13px;
}
.unitInvoice .unitInvoiceBox .vSave{
    position: absolute;
    margin-left: 235px;
    top: 17px;
    height: 40px;
    line-height: 40px;
    width: 50px;
    background-color: #fff;
    text-align: center;
    display: none;
    cursor: pointer;
    color: #333;
}
.vTitle{
    width: 66px;
    display: block;
    float: left;
}
.vModify{
    width: 40px;
    float: right;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
.vContent{
    width: 180px;
    display: block;
    float: left;
}
.tdDl .dlCom dt{
    width: 134px;
    height: 77px;
    margin-right:38px;
}
.tdDl .dlCom dt img{

}
.tdDl .dlCom p{
    line-height: 22px;
    width:300px;
}
.total{
    overflow: hidden;
    margin-top: 20px;
    margin-right: 28px;
}
.total ul li{
    height: 27px;
    line-height:27px;
}
.total ul li.payShould{
    margin-top:18px;
}
.total ul li.payShould span i{
    font-style:normal;
    font-size:14px;
}

.total ul li span{
    margin-left: 0px;
    text-align: right;
    display: inline-block;
    width: 144px;
    float: right;
}
.marTop{
    margin-top:8px;
}

.conL{
    width: 178px;
    height: 100%;
    overflow: hidden;
    float: left;
    margin-right: 16px;
    background-color: #fff;
    min-height: 530px;
    padding-bottom: 50px;
}
.conR{
    width: 1032px;
    height: 100%;
    /*overflow: hidden;*/
    float: left;
    background-color: #fff;
    padding-bottom: 50px;
    min-height: 530px;
}
.menu .menuH1{
    padding-left: 28px;
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    color: #000;
}
.menu dl{
    padding-left: 28px;
    padding-bottom: 20px;
}
.menu dl dt {
    height: 28px;
    line-height: 28px;
    color: #333;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}
.menu dl dd {
    line-height: 24px;
}
.mainPer a:hover{
    text-decoration: none;
}
.mpT{
    border-bottom: 2px solid #ccc;
    overflow: hidden;
}
.mpTl{
    margin-top: 7px;
    overflow: hidden;
}
.mpTl li{
    float: left;
    height: 17px;
    line-height: 17px;
    padding: 0 20px;
    border-right: 1px solid #ccc;
}
.mpTl li em{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-family: arial;
    top: -3px;
    text-align: center;
    background: #e73d4d;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    color: #fff;
    font-size: 10px;
    margin: 0 0 0 2px;
    _position: static;
}
.mpTr{
    margin-bottom: 10px;
}
.mpTr .search{
    position: relative;
}
.mpTr .search .inText {
    float: left;
    width: 158px;
    height: 25px;
    line-height: 25px;
    padding: 2px 5px 3px;
    border: 1px solid #e73d4d;
    font-size: 12px;
}
.mpTr .search .search-btn {
    position: relative;
    float: left;
    width: 52px;
    height: 32px;
    line-height:32px;
    overflow: hidden;
    text-align: center;
    background-color: #e73d4d;
    color: #fff;
}

.mpTr .search label{
    position: absolute;
    color: #999;
    font-size: 12px;
    top: 7px;
    left: 7px;
    z-index: 5;
    cursor: text;
}


.sep_row {
    height: 20px;
}
.mar{
    margin: 25px 16px;
}
.mpTable th{
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    text-align: right;
    width: 72px;
    padding-right: 50px;
    font-weight: normal;
}
.mpTable .tr_con td {
    border: 1px solid #e5e5e5;
    border-top: 0;
    padding: 20px 0;
    vertical-align: top;
}
.mpTable .tr_con td.noBorL{
    border-left: 0;
}
.mpTable .tr_con td div{
    text-align: center;
}
.mpTable .tr_con td div p{
    line-height: 22px;
    color: #999;
}
.mpTable .tr_con td div p.color1{
    color:#e73d4d;
}
.mpTable .tr_con td div p.color3{
    color: #000;
}
.mpTable th.tCount{
    width: 340px;
}
.tr_th{
    height: 40px;
    line-height: 40px;
    background-color: #eee;
    border: 1px solid #eee;
}
.dealTime,.number{
    margin-right: 30px;
}
.goods_item{
    overflow: hidden;
}
.goods_item .goods_img {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    margin: 0 8px;
    _display: inline;
    position: relative;
    padding: 10px;
}
.goods_item .goods_img a{
    display: table-cell;
    vertical-align:middle;
    /*设置水平居中*/
    text-align:center;
    /* 针对IE的Hack */
    *display: block;
    *font-size: 175px;/*约为高度的0.873，200*0.873 约为175*/
    *font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
    width: 80px;
    height: 80px;
}
.goods_item .goods_img img{
    max-width: 80px;
    max-height: 80px;
    vertical-align: middle;
    display: block;
    margin: auto;
}
.goods_item .goods_msg {
    float: left;
    width: 160px;
    line-height: 24px;
}
.goods_item .goods_msg .goods_info{
    text-align:left;
}

.goods_item .goods_msg .goods_name {
    overflow: hidden;
    color: #333;
    text-align:left;
}
.goods_item .goods_number {
    float: left;
    width: 66px;
    text-align: right;
    color: #aaa;
    font-family: verdana;
    line-height: 20px;
}
.mpTable .tr_con td div p.btn2 a{
    width: 100px;
    height: 32px;
    display: block;
    background-color: #e73d4d;
    color: #fff;
    line-height: 32px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:10px auto;
    cursor: pointer;
}
.mpTable .tr_con td div p.btn2 a:hover{
    background-color: #b5313d;
}
.pMoney{
    float: right;
    width: 120px;
    line-height: 20px;
}
.pMoney a{
    display: block;
    height:30px ;
    width: 94px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 20px auto 0;
}
.pMoney a:hover{
    border: 1px solid #b5313d;
}
.btnCom{
    display: inline-block;
    height:30px ;
    width: 94px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e73d4d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto 10px;
    color: #e73d4d;
    cursor: pointer;
}
.btnPay{
    width: 100px;
    height: 34px;
    background-color: #e73d4d;
    color: #fff;
    line-height: 34px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}

.btnCancel{
    width: 100px;
    height: 32px;
    border: 1px solid #999;
    color: #999;
    line-height: 32px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}
.marBottomAuto .btnCancel:hover{
    color: #999;
}
.marBottomAuto .btnPay:hover{
    color: #fff;
    background-color:#b5313d;
}
.sNav{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.sNav li{
    float: left;
}
.sNav li span{
    padding: 0 5px;
    font-size: 16px;
}
h2{
    height:21px;
    line-height:21px;
}

h2 .bg{
    height: 16px;
    width: 4px;
    background-color: #e73d4d;
    display: inline-block;
    float: left;
    margin-right: 7px;
    margin-top:3px;
}
.tableTrack{
    margin: 15px 0;
    font-family: \5B8B\4F53;
}
.tableTrack td{
    line-height: 18px;
    color: #666;
}
.extra {
    margin-top: 10px;
    font-family: \5B8B\4F53;
    font-size: 12px;
    color: #666;
}
.extra span{
    margin-right: 30px;
    display: inline-block;
}
.Bor{
    border-bottom: 1px solid #ccc;
}
.tablePa{
    padding-bottom: 20px;
}
.lineM{
    width: 100%;
    margin: 5px auto;
    height: 1px;
    background-color: #eee;
}
.goodsList{
    margin: 20px 0 10px;
    overflow: hidden;
}
.goods_list{
    border: 1px solid #ccc;
    margin-top: 20px;
}
.goods_list th{
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: #999;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}
.goods_list tr{
    border-bottom: 1px solid #ccc;;
}
.goods_list td{
    text-align: center;
    font-size: 14px;
}
.goods_list td p{
    color:#999;
}
.goodsM{
    margin: 15px 0;
}
h3 i{
    font-weight: normal;
}
.addressPopups{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.addressControl .btn{
    background:none;
    width: 50px;
}
.addressPopups .mask{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color:#000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.addAddress{
    padding: 20px;
    width: 730px;
    height: 570px;
    background-color: #fff;
    position:absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    margin-left:-385px;
    margin-top: -305px;
}
.addAddress h3{
    height: 17px;
    line-height: 17px;
}
.addAddress h3 span{
    float: left;
    width: 4px;
    height: 17px;
    background-color: #e73d4d;
    margin-right: 10px;
}
.addAddress ul{
    margin: 0px 0px 10px;
}
.addAddress ul li {
    margin-top: 20px;
    position: relative;
}
.addAddress ul li input{
    border: 1px solid #eee;
    width: 96%;
   /* height: 30px;
    line-height: 30px;
    padding: 8px 0 8px 25px;*/
    height: 46px;
    line-height: 46px;
    padding-left: 25px;
}
.addAddress ul li span{
    display: block;
    color: #999;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 14px;
    background: #fff;
    cursor: text;
    padding: 0 5px;
}
.addAddress ul li.onSpan span{
    color: #e73d4d;
    font-size: 14px;
    top: 15px;
}
.addAddress ul li input:focus{
    border: 1px solid #e73d4d;
}


input::-webkit-input-placeholder{
    color: #fff !important;
}
input::-moz-placeholder {
    color: #fff !important;
}
input::-moz-placeholder{
    color: #fff !important;
}
input:-ms-input-placeholder{
    color: #fff !important;
}

.addAddress ul li.onSpan input::-webkit-input-placeholder{
    color: #fff !important;
}
.addAddress ul li.onSpan input::-moz-placeholder {
    color: #fff !important;
}
.addAddress ul li.onSpan input::-moz-placeholder{
    color: #fff !important;
}
.addAddress ul li.onSpan input:-ms-input-placeholder{
    color: #fff !important;
}
.addAddress ul li.area{
    border: 0;
    width: 100%;
    height: auto;
    padding: 0;
}
.errorMsg{
    color: red;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}
.btnGroup {
    margin: 20px auto;
    text-align: center;
}
.btnGroup a,.btnGroup span{
    display: inline-block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.btnGroup a:hover,.btnGroup span:hover{
    background-color: #b5313d;
    color: #fff;
}
.btnGroup .btnAddSave{
    background-color: #e73d4d;
}
.btnGroup .btnAddCancel{
    background-color: #ccc;
    margin-left: 20px;
}
.btnGroup span.btnAddCancel:hover{
    background-color: #999;
}

.m_zlxg {
    width: 232px;
    height: 50px;
    line-height: 50px;
    position: relative;
    cursor: pointer;
    float: left;
    margin: 0 16px 0 0;
    display: inline;
    background: url(../images/zlxg2.png) no-repeat;
}

.m_zlxg p {
    width: 200px;
    padding-left: 20px;
    overflow: hidden;
    line-height: 50px;
    color: #666;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m_zlxg2 {
    position: absolute;
    top: 50px;
    z-index: 4;
    border: 1px solid #eee;
    background: #fff;
    width:230px;
    display: none;
    max-height: 224px;
    -height: 224px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}
.m_zlxg2 ul{
    margin: 0;
}
.m_zlxg2 ul li {
    line-height: 28px;
    white-space: nowrap;
    padding-left: 10px;
    color: #333;
    font-size: 12px;
    margin-top: 0;
}

.m_zlxg2 li:hover {
    color: #7a5a21;
}
#sjld:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;

}
.inText:focus{
    border: 1px solid #e73d4d;
}


/*login*/
.loginMain{
    width: 60%;
    margin: 0 auto;
}
.close{
    width: 18px;
    height: 18px;
    display: block;
    float: right;
    background: url("../images/ico/icoBox.png") no-repeat -40px 0;
    cursor: pointer;
}
.btnGroup .btnLogin{
    width: 100%;
}
.loginTitle{
    text-align: center;
    padding-top: 40px;
}
.loginTitle h2{
    padding: 20px 0 0;
    font-size: 24px;
    font-weight: normal;
}
.loginExtra{
    overflow: hidden;
    color: #666;
}
.loginExtra a,.loginExtra label{
    color: #666;
    padding: 0 5px;
    height: 17px;
    line-height: 17px;
    display:inline-block;
}
.loginExtra a{
    border-right: 1px solid #ccc;
}
.loginExtra a.noBor{
    border: 0;
}
.loginExtra label{
    float: left;
}
.checkChange{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../images/ico/checked.png") no-repeat;
    background-position: 0px 0px;
    float: left;
    cursor: pointer;
    margin-left: -17px;
}
.checked{
    background-position: -17px 0px;
}
.loginExtra input{
    width: 17px;
    height: 17px;
    display: inline-block;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    float: left;
    position: relative;
    z-index: -9999;
}
.otherLogin{
    text-align: center;
    margin:40px 0 0;
    border-top: 1px solid #dfdfdf;
}
.otherLogin span{
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-top: -10px;
    z-index: 999;
    color: #666;
}
.otherLogin p a{
    display: inline-block;
    width: 51px;
    height: 51px;
    background: url("../images/ico/icoBox.png") no-repeat;
    margin-right: 30px;
    margin-top: 30px;
}
.otherLogin p a.sinA{
    background-position: -54px -23px;
}
.otherLogin p a.QQ{
    background-position: -108px -23px;
}
.otherLogin p a.weiXin{
    background-position: 0px -23px;
}
.register{
    height: 700px;
    position:absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    margin-left:-385px;
    margin-top: -370px;
}
.addAddress ul li input.inTextM{
    width: 50%;
}
.mobileMess{
    display: inline-block;
    width: 44%;
    margin-left: 1%;
    float: right;
}
.mobileMess a,.mobileMess a.codeImg{
    display: inline-block;
    width: 100%;
    height: 46px;
    border: 1px solid #e73d4d;
    background-color: #fffae5;
    color: #e73d4d;
    font-size: 16px;
    text-align: center;
    line-height: 46px;
}
.mobileMess a.codeImg img{
    width: 100%;
    height: 48px;
}
.mobileMess a.codeImg{
    border: none;
    background:none;
}
/*�����ύ*/
.orSubTop,.payContent{
    padding: 30px;
    overflow: hidden;
}
.orSubTop .orSubTopL{
    width: 100px;
    text-align: center;
    margin-top: 16px;
}
.orSubTop .orSubTopR{
    width: 1040px;
}
.orderInfoR i{
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url("../images/ico/arrow.png") no-repeat  0 -6px;
    margin: 5px 0 0 5px;
}
.orderInfoR i.down{
    background: url("../images/ico/arrow.png") no-repeat 0 3px;
}
.orderInfo{
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
}
.orderInfoL span{
    margin-right:10px;
}
.orSubTopR table td{
    color: #666;
}
.orderContent{
    display: none;
}
.payContent ul li{
    float: left;
    width: 264px;
    height: 64px;
    border: 1px solid #ececec;
    margin:20px 25px 0 0;
    background: url("../images/bank.png") no-repeat;
}
.payContent ul li:hover{
    border: 1px solid #ff3300;
}
.payContent ul li.zhiF{
    background-position: 60px 8px;
}
.payContent ul li.weiF{
    background-position: 44px -52px;
}
.payContent ul li.xy{
    background-position: 34px -110px;
}
.payContent ul li.gs{
    background-position: 33px -163px;
}
.payContent ul li.zs{
    background-position: 46px -220px;
}
.payContent ul li.jh{
    background-position: 32px -285px;
}
.payContent ul li.ny{
    background-position: 30px -347px;
}
.payContent ul li.zg{
    background-position: 53px -409px;
}
.payContent ul li.jt{
    background-position: 34px -473px;
}
.payContent ul li.yz{
    background-position: 34px -529px;
}
.payContent ul li.gf{
    background-position: 30px -582px;
}
.payContent ul li.gd{
    background-position: 34px -634px;
}
.payContent ul li.ms{
    background-position: 34px -691px;
}
.payContent ul li.zx{
    background-position: 53px -747px;
}

/*下*/
.addAddress ul li.area a span {
    top: 0;
    right: 34px;
}
/*上*/
/*page*/
.page{
    height: 40px;
    text-align: right;
    padding-bottom: 40px;
}
.page .pageCon{
    height: 40px;
    float: right;
    margin-right: 15px;
    font-size: 14px;
}
.page span{
    float: left;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-right: 0;
    color: #333;
    display: block;
    cursor: pointer;
    font-size: 20px;
    font-family: "\5B8B\4F53";
    font-weight: bold;
}
.page span.noPage{
    color: #999;
}
.page span#next{
    border-right: 1px solid #dfdfdf;
}
.page ul{
    height: 40px;
    overflow: hidden;
    float: left;
}
.page ul li{
    float: left;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-right: 0;
    cursor: pointer;
}
.page ul li.on{
    display: block;
    background-color: #e73d4d;
    border:1px solid #e73d4d;
    border-right: 0;
    color: #fff;
}
/*messageInfo*/
.messageInfo{
    display: none;
}
.messageInfo .mask{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
}
.messageContent{
    width: 400px;
    height: 240px;
    padding: 40px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -240px;
    margin-top: -160px;
    z-index: 15;
}
.messageContent p{
    font-size: 24px;
    line-height: 24px;
    width: 400px;
    text-align: center;
    margin: 60px auto 30px;
    max-height: 73px;
    overflow: hidden;
}
.messageContent .comBtn{
    width: 168px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -84px;
}
/*orderPage end*/
/*returnPage*/
/*return*/
.returnTitle{
    height: 30px;
    line-height: 30px;
    padding: 16px 27px 10px;
    margin-bottom: 10px;
}
.returnTitle .fl b{
    font-size: 18px;
}
.returnTitle .fr a{
    display: inline-block;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: #e73d4d;
    margin-left: 20px;
    border-radius: 4px;
    font-size: 12px;
}
.returnGoods{
    padding: 0px 27px;
}
.returnGoodsTable{
    width: 100%;
    border: 1px solid #ccc;
}
.returnGoodsTable th{
    height: 38px;
    line-height: 38px;
    border: 1px solid #ccc;
    color: #333;
    font-size: 14px;
    font-weight: normal;
}

.returnGoodsTable td{
    border: 1px solid #ccc;
    text-align: center;
}
.returnGoodsTable dl{
    overflow: hidden;
    padding: 20px 0;
}
.returnGoodsTable dl dt,.returnGoodsTable dl dd{
    float: left;
}
.returnGoodsTable dl dt{
    margin-left: 10px;
    width: 30%;
}
.returnGoodsTable dl dt img{
    max-width: 100px;
    display: block;
    padding: 15px 5px;
    border: 1px solid #ccc;
}
.returnGoodsTable dl dd{
    width: 60%;
    padding: 10px 10px;
    text-align: left;
}
.returnGoods .pInfo{
    color: #666;
    font-size: 14px;
    line-height: 30px;
}
.item{
    height: 100%;
    overflow: hidden;
    margin: 20px 0;
}
.item .labelFl{
    width: 122px;
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 6px 0;
    font-size: 14px;
    color: #000;
}
.item .itemFr{
    width: 550px;
    float: left;
}
.item .itemFr li{
    float: left;
    width: 94px;
    height: 34px;
    border: 1px solid #ccc;
    line-height: 34px;
    text-align: center;
    color: #000;
    font-size: 14px;
    margin-right: 32px;
    cursor: pointer;
}
.item .itemFr li.selected{
    border: 1px solid #e73d4d;
    background: url("../images/ico/icoSeleted.png") no-repeat bottom right;
}
.decrement {
    margin-right: 2px;
    background-position: 0 0;
}
.decrement, .increment {
    display: inline-block;
    width: 28px;
    height: 28px;
    overflow: hidden;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    margin-right: 2px;
    vertical-align: middle;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    margin-top: -5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.text01 {
    width: 20px;
    margin-right: 3px;
    text-align: center;
}
.text {
    float: none;
}
.text {
    height: 32px;
    width: 64px;
    border: 1px solid #ccc;
    color: #000;
    font-size: 18px;
}

.area {
    float: none;
    width:543px;
    height: 144px;
    resize: none;
}
.area{
    line-height: 18px;
    border: 1px solid #ccc;
    padding: 5px;
    float: none;
}
.ar {
    text-align: right;
}
.ftx-03, .ftx03 {
    color: #999;
}
.imgInfo p{
    font-size: 12px;
    color: #666;
    line-height: 22px;
}
.item .returnDelivery li{
    width: 200px;
}
.lineDiv{
    width: 100%;
    border: 1px dashed #ccc;
}
.customerInfo{
    padding: 20px 0;
}
.customerInfo b{
    font-size: 14px;
    color: #000;
}
.customerInfo ul{
    margin: 10px 0;
}
.customerInfo ul li{
    margin-bottom: 20px;
}
.customerInfo ul li label{
    width: 120px;
    font-size: 14px;
    color: #000;
    float: left;
    height: 36px;
    line-height: 36px;
    float: left;
}
.customerInfo ul li input{
    width: 278px;
    height: 36px;
    border: 1px solid #ccc;
    line-height: 36px;
    padding-left: 10px;
}
.customerInfo ul li input#address{
    width: 500px;
}
.returnBtn{
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin: 40px auto;
    background-color: #e73d4d;
    cursor: pointer;
}
.mpTReturn{
    border: none;
}
.recordTable{
    width: 97%;
    margin: 10px auto;
}
.recordTable th{
    height: 42px;
    line-height: 42px;
    background-color: #eee;
    color: #000;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    border: 1px solid #eee;
}
.recordTable td{
    text-align: center;
    border: 1px solid #dfdfdf;
    border-top: 0;
}
.recordTable td{
    padding: 20px 10px;
}
.recordTable .goodsImg dl dt{
    float: left;
    width:50%
}
.recordTable .goodsImg dl dt img{
    max-width: 112px;
    border: 1px solid #dfdfdf;
}
.recordTable .goodsImg dl dd{
    float: left;
    width:50%;
    font-size:14px;
}
.recordTable td p{
    line-height: 22px;
}
.recordTable .operation a{
    display: block;
    width: 68px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #e73d4d;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #e73d4d;
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.infoInfo{
    padding: 10px 0;
}
.processing{
    margin: 20px 0;
}
.processing h3{
    height: 30px;
}
.processing h3 em,.sendContent h3 em{
    width: 3px;
    height: 16px;
    display: block;
    background-color: #e73d4d;
    float: left;
    font-style: normal;
}
.processing h3 span,.sendContent h3 span{
    height: 16px;
    float: left;
    color: #000;
    font-size: 16px;
    display: block;
    padding-left: 5px;
    line-height: 16px;
}
.processingTable{
    width: 100%;
}
.processingTable td{
    font-size: 14px;
    color: #333;
    line-height: 24px;
    /* font-family:"\5B8B\4F53";*/
}
.serviceInfo{
    /* font-family:"\5B8B\4F53";*/
}
.serviceInfo th{
    height: 30px;
    line-height: 30px;
    text-align: left;
    border: 1px solid #dfdfdf;
    font-weight: normal;
    padding-left: 10px;
    font-size: 14px;
    color: #333;
}
.serviceInfo td{
    font-size: 14px;
    border: 1px solid #dfdfdf;
    padding-left: 10px;
}
.serviceInfo td ul li{
    float: left;
    margin-right: 10px;
    margin: 10px 10px 10px 0;
    border: 1px solid #dfdfdf;
}
.serviceInfo td ul li img{
    max-height: 100%;
}
.state{
    width: 86px;
    font-size: 14px;
    margin: 10px auto;
}
.sendPop .mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
    z-index: 2;
    display: none;
}
.sendPop .sendContent{
    padding: 20px;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -320px;
    margin-top: -170px;
    z-index: 3;
    display: none;
}
.sendContent ul{
    margin: 40px 0;
}
.sendContent ul li{
    margin-bottom: 30px;
}

.sendContent ul .textInput{
    width: 580px;
    height: 48px;
    border: 1px solid #dfdfdf;
    line-height: 48px;
    padding-left: 10px;
    position: relative;
}
.sendContent ul label{
    position: absolute;
    z-index: 4;
    margin-top: 14px;
    margin-left: 12px;
    color: #999;
    font-size: 16px;
}
.textInput p{
    font-size: 16px;
    cursor: pointer;
}
.textInput p .upDown{
    width: 18px;
    height: 9px;
    display: block;
    background: url("../images/ico/upDown.png") no-repeat 0px -15px;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}
.textInput p .foo{
    background-position: 0px -1px;
}
.textInput ol{
    font-size: 16px;
    background-color: #fff;
    position: absolute;
    z-index: 5;
    width: 580px;
    border: 1px solid #dfdfdf;
    padding-left: 10px;
    margin-left: -11px;
    display: none;
}
.textInput ol li{
    height: 30px;
    margin: 0;
    line-height: 30px;
    cursor: pointer;
}
.btnSendGroup{
    text-align: center;
}
.btnSendGroup input[type="submit"],.btnSendGroup input[type="button"]{
    width: 240px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #e73d4d;
    cursor: pointer;
}
.btnSendGroup input[type="button"]{
    background: #ccc;
    margin-left: 50px;
}
/*returnPage end*/
#dobuy-disable{
    display:none;
    width: 170px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ccc;
    color: #fff;
    font-size: 24px;
    float: right;
}
/**增加减少数量不能点击**/
.itemsRight .quantity-form .disable, .itemsRight .quantity-form .disable{
    color: #ccc;
    cursor: auto;
}
/*page*/
.page{
    height: 40px;
    text-align: right;
    padding-bottom: 40px;
}
.page .pageCon{
    height: 40px;
    float: right;
    margin-right: 15px;
    font-size: 14px;
}
.page span{
    float: left;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-right: 0;
    color: #333;
    display: block;
    cursor: pointer;
    font-size: 20px;
    font-family: "\5B8B\4F53";
    font-weight: bold;
}
.page span.noPage{
    color: #999;
    cursor:auto;
}
.page span#next{
    border-right: 1px solid #dfdfdf;
}
.page ul{
    height: 40px;
    overflow: hidden;
    float: left;
}
.page ul li{
    float: left;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-right: 0;
    cursor: pointer;
}
.page ul li.on{
    display: block;
    background-color: #e73d4d;
    border:1px solid #e73d4d;
    border-right: 0;
    color: #fff;
}
.page ul li.on a{
    color: #fff;
}
.page ul li.more{
    cursor : auto;
}
/*comment*/
.conR h1{
    height: 40px;
    line-height: 40px;
}
.pa10{
    padding: 13px 0 13px 27px;
    border-bottom: 1px solid #ccc;
}
.paNoBorder{
    border:0;
}
.paLeft{
    padding-left: 27px;
}
.commentInfo{
    height: 100%;
    overflow: hidden;
}
.comInLeft{
    width: 102px;
    height: 102px;
    float: left;
}
.commentInfo .comImg{
    width:100px;
    height:100px;
    border:1px solid #ccc;
    display:table-cell;
    vertical-align:middle;
}
.commentInfo .comImg img{
    border:none;
    max-width:100%;
    max-height:100%;
    display:block;
    margin:auto;
}
.comInRight{
    float: left;
    width: 690px;
    margin-left: 16px;
}
.comContent h3{
    font-weight: normal;
    color: #000;
    height: 40px;
    line-height: 40px;
    min-height: 70px;
}
.comContent p{
    color: #999;
}
.scoreAssessList{
    padding: 20px 0;
}
.scoreAssessList li{
    height: 27px;
    line-height: 27px;
    overflow: hidden;
}
.scoreAssessList li .dt,.scoreAssessList li .dd{
    width: 100px;
    float: left;
    height: 27px;
    line-height: 27px;
    color: #000;
    font-size: 14px;
}
.scoreAssessList li .dd{
    width: 160px;
    margin-left: 20px;
}
.scoreAssessList li .dd span{
    width: 23px;
    height: 21px;
    display: block;
    float: left;
    background: url("../images/ico/star.png") no-repeat;
    margin-right: .1rem;
    background-position: -24px 0;
    cursor: pointer;
}
.scoreAssessList li .dd span.on{
    background-position: 0 0;
}
.experience{
    overflow: hidden;
    margin-bottom: 20px;
}
.experience .exDt{
    width: 120px;
    float:left;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
}
.experience .exDd{
    width: 558px;
    float: left;
}
.experience textarea{
    width: 554px;
    height: 154px;
    border: 1px solid #ccc;
    resize: none;
    padding-left:10px;
    padding-top: 5px;
    color: #000;
}
.experience p{
    color: #999;
    text-align: right;
}
.imgInfo p{
    text-align: left;
}
.op{
    width: 94px;
    height: 100px;
    position: relative;
    float: left;
}
.opBtn{
    width: 94px;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor: pointer;
    position: absolute;
    top:50%;
    margin-top: -15px;
}
.myCom{
    width: 94%;
    margin: 0 auto;
    position: relative;
    overflow: visible;
}
.comList{
    position: relative;
    border: 1px solid #ccc;
    border-bottom: 0;
    border-top: 0;
}
.comListBox{
    height: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    padding: 15px;
}
.lastList{
    border-bottom: 1px solid #ccc;
}
.up_triangle{
    width: 28px;
    height: 16px;
    background: url("../images/ico/up_triangle.png") no-repeat;
    position: absolute;
    z-index:20;
    top: -16px;
    right: 100px;
}
.opBox{
    display: none;
    position: absolute;
    z-index: 10;
    top: 104px;
    right: -21px;
    width: 754px;
    padding:0px 20px;
    border: 1px solid #ccc;
    background:#eef8f0;
}
.opBox .scoreAssessList li .dt,.opBox .experience .exDt{
    color: #999;
}
.opBox .experience p{
    text-align: left;
    color: #000;
}
.printImgList li{
    margin-right: 20px;
    float: left;
}
.printImgList .comImg{
    width: 70px;
    height: 70px;
}
.printImgList .comImg img{
    max-width: 70px;
    max-height: 70px;
}
/*交易快照*/
.mainCenter .goodsTrade{
    margin-top: 0;
}
.goodsML{
    width: 352px;
    height: 352px;
    float: left;
}
.gImg{
    width: 350px;
    height: 350px;
    border: 1px solid #ccc;
    display:table-cell;
    vertical-align:middle;
}
.gImg img{
    max-height: 340px;
    max-width: 340px;
    display: block;
    margin: auto;
}
.goodsMC{
    width: 358px;
    float: left;
    margin: 0 22px;
}
.goodsMC .name h1{
    font-weight: normal;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
}
.goodsMC .name p{
    font-size: 16px;
    color: #999;
    line-height: 30px;
}
.gC{
    margin: 20px 0;
}
.gC p{
    font-size: 14px;
    color: #333;
    line-height: 30px;
}
.gC p .sTitle{
    width: 74px;
    display: inline-block;
}
.gC p .price{
    font-size: 24px;
    color: #e73d4d;
    background-color: #fff;
}
.tradeInfo{
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
}
.tradeInfo .tradeCon,.tradeInfo p{
    padding: 10px 20px 10px 38px;
}
.tradeInfo .tradeCon{
    background: url("../images/ico/warning.png") no-repeat 10px 10px;
}
.tradeInfo p a{
    color: #292de6;
}
.goodsMR{
    width: 315px;
    float: right;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding:5px 15px;
}
.goodsMR h2,.goodsMR p.seller{
    font-size: 16px;
    font-weight: normal;
    color: #333;
    height: 40px;
    line-height: 40px;
}
.goodsMR h2{
    border-bottom: 1px solid #ccc;
}
.goodsMR p{
    font-size: 14px;
    color: #666;
}
.goodsMR .contact a{
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #e73d4d;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    margin: 15px 0 10px;
}